$cBlack: rgba(0, 0, 0, 1);
$cWhite: rgba(255, 255, 255, 1);
$cSubtleGray: #f0f0f0;
$cGray: #ccc;
$cDarkGray: #333;

$cText: #4A4A4A;

$cBlue: rgba(18, 54, 91, 1);
$cCyan: rgba(0, 142, 156, 1);
$cCyanDark: #005161;
$cGreen: rgba(0,142,156,1);
$cYellow: rgba(246,177,25,1);
$cOrange: rgba(246,144,42,1);
$cRed: rgba(240,95,80,1);
$cSalmon: rgba(245,156,149,1);
$cLightGray: rgba(180,174,193,1);
$cCoolGray: rgba(150,137,171,1);

$color_facebook: #3A589A;
$color_twitter: #00ABEF;
$color_linkedin: #0074B5;
