<!DOCTYPE html>
<html>
  <head>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

      {% asset v1/charts %}

      <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
      <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

      {% asset v1/charts %}

      <title>Chart</title>
      <link rel="apple-touch-icon" sizes="57x57" href="{% asset 'v1/favicons/apple-touch-icon-57x57.png' %}" >
      <link rel="apple-touch-icon" sizes="60x60" href="{% asset 'v1/favicons/apple-touch-icon-60x60.png' %}">
      <link rel="apple-touch-icon" sizes="72x72" href="/{% asset 'v1/favicons/apple-touch-icon-72x72.png' %}">
      <link rel="apple-touch-icon" sizes="76x76" href="{% asset 'v1/favicons/apple-touch-icon-76x76.png' %}">
      <link rel="apple-touch-icon" sizes="114x114" href="{% asset 'v1/favicons/apple-touch-icon-114x114.png' %}">
      <link rel="apple-touch-icon" sizes="120x120" href="{% asset 'v1/favicons/apple-touch-icon-120x120.png' %}">
      <link rel="apple-touch-icon" sizes="144x144" href="{% asset 'v1/favicons/apple-touch-icon-144x144.png' %}">
      <link rel="apple-touch-icon" sizes="152x152" href="{% asset 'v1/favicons/apple-touch-icon-152x152.png' %}">
      <link rel="apple-touch-icon" sizes="180x180" href="{% asset 'v1/favicons/apple-touch-icon-180x180.png' %}">
      <link rel="icon" type="image/png" href="{% asset 'v1/favicons/favicon-32x32.png' %}" sizes="32x32">
      <link rel="icon" type="image/png" href="{% asset 'v1/favicons/android-chrome-192x192.png' %}" sizes="192x192">
      <link rel="icon" type="image/png" href="{% asset 'v1/favicons/favicon-96x96.png' %}" sizes="96x96">
      <link rel="icon" type="image/png" href="{% asset 'v1/favicons/favicon-16x16.png' %}" sizes="16x16">
      <link rel="manifest" href="{% asset 'v1/favicons/manifest.json' %}">
      <link rel="mask-icon" href="{% asset 'v1/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="msapplication-TileImage" content="{% asset 'v1/favicons/mstile-144x144.png' %}">
      <meta name="theme-color" content="#A33A00">
  </head>
<body>
  <div class="chart-container" data-share>

    <header class="clearfix">
      <h1 data-share-text>{{page.title}}</h1>
      <div class="graph_tools social_links_container">
        <a href="#" class="twitter" data-share-network="twitter" data-track-event="Social Share|Click Twitter|From Chart"><i class="fa fa-twitter"></i></a>
        <a href="#" class="facebook" data-share-network="facebook" data-track-event="Social Share|Click Facebook|From Chart"><i class="fa fa-facebook"></i></a>
        <a href="#embed-graph-code" class="code open_modal"><i class="fa fa-code"></i></a>
      </div>
    </header>

    <div class="chart-body">
      {{ content }}
    </div>

    <div class="graph_meta clearfix">
      <p>{{page.description}}</p>
      <div class="graph_source"><strong>Fuente:</strong> <a href="{{page.source_url}}" target="_blank">{{page.source_name}}</a></div>
    </div>
  </div>

  {% include v1/analytics_footer.html %}
</body>
</html>
