<!DOCTYPE html>
<html>
{% include v1/head.html %}
<style type="text/css">
img {
  width: 100%;
}
</style>
<body>

<table class="body-wrap" style="width: 100%;">
  <tbody><tr>
    <td style="font-family: Roboto, Arial;"></td>
    <td class="container" style="font-family: Roboto, Arial;display: block!important;max-width: 600px!important;margin: 0 auto!important;clear: both!important;">

      <div class="content" style="background: #FFFFFF;max-width: 545px;border-radius: 5px;padding-bottom: 20px;margin: 0 auto;display: block;">
      <table>
        <tbody><tr>
          <td style="font-family: Tahoma, sans-serif; text-align: center">
          
          <!-- {% asset 'v1/logo_gobierto.png' %} -->
          <p style="text-align: center;margin: 1em 0 0 0;font-family: Roboto, Arial;"><a href="http://gobierto.es{{  page.utm }}" target="_blank" class="logo"><img src="{{ site.production_url }}{{ site.assets.baseurl}}logo_gobierto.png" style="width: 50%; height: auto"></a></p>
          <p style="font-size: 14px; margin: 0 0 0em 0;"><strong>Plataforma de gobierno abierto open source</strong></p>
          <p style="font-size: 14px; margin: 0 0 1em 0;">Transparencia y participación para administraciones públicas</p>

          <div class="separator" style="border: 4px solid #E5F3F5;margin: 2em 0 3em 0;"></div>

          {{ content }}

          <!-- {% asset 'v1/illustrations/cuentas.jpg' width:'75%' height:'auto'  %} -->
          <img src="{{ site.production_url }}{{ site.assets.baseurl}}illustrations/cuentas.jpg" style="width: 75%; height: auto">

          <p style="font-size: 24px;">Gobierto es una plataforma de Gobierno Abierto open source que integra lo que necesitas para hacer transparencia útil y participación que funciona</p>
          <p style="font-size: 18px;"">Pon en marcha las siguientes herramientas para conectar mejor con tus vecinos</p>

          <table style="width: 100%;">
          <tr>
            <td style="background: #FEF7E6; padding: 2em; text-align: center; font-size: 14px; border-right: 5px solid #FFF; border-bottom: 10px solid #FFF">
              <p><strong>Presupuestos</strong></p>
              <p>Visualización<p>
              <p>Consultas<p>
              <p>Historias<p>
              <p>Inteligencia<p>
            </td>
            <td style="background: #E5F3F5; padding: 2em; text-align: center; font-size: 14px; border-left: 5px solid #FFF; border-bottom: 10px solid #FFF">
              <p><strong>Participación</strong><p>
              <p>Propuestas<p>
              <p>Preguntas<p>
              <p>Consultas<p>
              <p>Agendas<p>
            </td>
          </tr>
          <tr>
            <td style="background: #FEF5F4; padding: 2em; text-align: center; font-size: 14px; border-right: 5px solid #FFF; border-bottom: 4px solid #FFF">
              <p><strong>Indicadores</strong><p>
              <p>Indicadores<p>
              <p>Panel de Control<p>
              <p>Objetivos<p>
            </td>
            <td style="background: #F4F6F2; padding: 2em; text-align: center; font-size: 14px; border-left: 5px solid #FFF; border-bottom: 4px solid #FFF">
              <p><strong>CRM</strong><p>
              <p>Alertas<p>
              <p>Newsletter<p>
            </td>
          </tr>
          </table>

          <div class="separator" style="border: 4px solid #E5F3F5;margin: 3em 0;"></div>

          <!--{% asset 'v1/illustrations/consultas.jpg' width:'75%' height:'auto'  %}-->
          <img src="{{ site.production_url }}{{ site.assets.baseurl}}illustrations/consultas.jpg" style="width: 75%; height: auto">

          <p style="font-size: 18px; margin: 2em 0;">Si te interesa poner en marcha las herramientas de Gobierto, danos un toque</p>
          <p style="font-size: 18px; font-weight: bold;"><a href="mailto:abre@gobierto.es" style="color: #4496A4">abre@gobierto.es</a></p>
          
          <div class="separator" style="border: 4px solid #E5F3F5;margin: 3em 0;"></div>

          <p style="text-align: center">Gobierto es un producto de</p>
          <!-- {% asset 'v1/logo_populate.png' width:'100px' height:'auto' %} -->
          <a href="http://populate.tools{{  page.utm }}"><img src="{{ site.production_url }}{{ site.assets.baseurl}}logo_populate.png" style="width: 100px; height: auto"></a>

          <div class="separator" style="border: 1px solid #E5F3F5;margin: 3em 0;"></div>

          <p style="margin: 3em 0; text-align: center; font-size: 12px;font-family: Roboto, Arial;color: #58585A;"><a style="color: #bbb;" href="<< unsub >>" target="_blank">Haz click aquí si no quieres recibir más actualizaciones</a></p>

          </td>
        </tr>
      </tbody></table>
      </div>

    </td>
  </tr>
</tbody></table>

</body>
</html>