<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.min.js" type="text/javascript" charset="utf-8"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.css"> -->

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-6jHF7Z3XI3fF4XZixAuSu0gGKrXwoX/w3uFPxC56OtjChio7wtTGJWRW53Nhx6Ev" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;400;500;700;900&display=swap" rel="stylesheet" rel="preload">

  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.0.1/dist/alpine.js" defer></script>
  
  {% asset app.css %}
  
  {% asset v2/application %} <!-- js -->

  {% if page.title == 'Los mapas no cuentan (toda) la verdad' %}
    {% asset v2/cartograms.js %}
  {% endif %}
  
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml " | prepend: site.baseurl | prepend: site.url }}">

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="{{ site.twitter_username }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %} · Gobierto</title>
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" /> {% if page.main_photo_big %} {% if page.main_photo_big contains '://' %}
  <meta property="og:image" content="{{page.main_photo_big}}" /> {% else %}
  <meta property="og:image" content="{{site.url}}{% asset {{page.main_photo_big}} @path %}" /> {% endif %} {% else %} {% if page.main_photo %} {% if page.main_photo contains '://' %}
  <meta property="og:image" content="{{page.main_photo}}" /> {% else %}
  <meta property="og:image" content="{{site.url}}{% asset {{page.main_photo}} @path %}" /> {% endif %} {% else %}
  <meta property="og:image" content="{{site.url}}{% asset 'posts/_default_post_image.png' @path %}" /> {% endif %} {% endif %}

  <meta name="description" content="{% if page.subtitle %}{{ page.subtitle | strip_html | strip_newlines | truncate: 160 }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:description" content="{% if page.subtitle %}{{ page.subtitle | strip_html | strip_newlines | truncate: 160 }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
  />

  <link rel="icon" type="image/png" href="{% asset 'favicons/favicon-96x96.png' @path %}" sizes="96x96">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="{% asset 'favicons/mstile-144x144.png' @path %}">
  <meta name="theme-color" content="#A33A00">
</head>