<div class="py-8 pt-16 bg-yellow-soft color-brand-blue-dark">

  <div class="p-8 lg:max-w-screen-xl mx-auto md:flex">

    <div class="md:w-1/3">
      
      <div class="text-lg mb-8 font-bold uppercase">Newsletter</div>

      <div class="text-lg mb-8 ">Análisis y enlaces interesantes sobre gobierno abierto, 2 veces al mes.</div>

    </div>

    <div class="mt-8 md:mt-0 md:w-2/3 md:pl-32">
      
      <div class="ml-form-embed -my-5"
        data-account="973324:w1x9v5r3g2"
        data-form="1998904:k1m4u2">
      </div>

    </div>

  </div>

</div>