---
title: Herramienta de Participación ciudadana
permalink: "/modulos/participacion/"
layout: default
kind: module
excerpt: Extiende y amplifica tus iniciativas de participación offline. Crea un espacio
  de colaboración online para medir las preferencias, generar ideas, y captar la opinión
  de expertos
---

{% assign module = site.data.modules.participacion %}

{% include v2/module_cover.html module=module %}
{% include v2/features.html title=module.title features=module.features %}
{% include v2/functionalities.html title=module.title functionalities=module.functionalities %}
{% include v2/global_functionalities.html %}
{% include v2/users.html users=module.users %}
{% include v2/demo.html %}
{% include v2/slideshow.html %}
{% include v2/contact.html %}
{% include v2/clients.html %}
