<div class="Clients" id="clientes">
  <div class="Clients__inner">
    <div class="Clients__content">
      <div class="Clients__title">Estas son algunas de las organizaciones que usan Gobierto para desplegar sus proyectos de gobierno abierto, transparencia, rendición de cuentas...</div>
      <ul class="Client__logos">
        <li class="Client__logo">
          <a href="/temas/clientes" class="Client__link Icon__Madrid"></a>
        </li>
        <li class="Client__logo">
          <a href="/temas/clientes" class="Client__link Icon__Barcelona"></a>
        </li>
        <li class="Client__logo">
          <a href="/temas/clientes" class="Client__link Icon__Valencia"></a>
        </li>
        <li class="Client__logo">
          <a href="/temas/clientes" class="Client__link Icon__Alcobendas"></a>
        </li>
        <li class="Client__logo">
          <a href="/temas/clientes" class="Client__link Icon__Getafe"></a>
        </li>
        <li class="Client__logo">
          <a href="/temas/clientes" class="Client__link Icon__Esplugues"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
