<div class="Contact">
  <div class="Contact__inner">
    <div class="Contact__content">
      <div class="Contact__title">Gobierto en tu buzón</div>
      <div class="Contact__description"><span class="u--light">Recursos sobre gobierno abierto y noticias sobre </span> <span class="Gobiertify">Gobierto</span><span class="u--light"> y nuestros proyectos.</span></div>
    </div>
    <form action="#" method="post" class="Contact__form js-subscribe" target="_blank">
      <div class="Contact__success is-hidden js-success">¡Gracias por suscribirte!</div>
      <div class="Input Contact__input js-input">
        <input type="email" class="Contact__inputField Input__field" placeholder="Correo electrónico" />
        <button type="submit" class="Contact__CTA Button Button--red">Suscríbeme</button>
      </form>
    </div>
  </div>
</div>
