<div class="Cover js-cover">
  <div class="Cover__shadow"></div>
  <div class="Cover__inner">
    <div class="Cover__browser Browser Browser--large">
      <div class="Browser__header">
        <div class="Browser__button"></div>
        <div class="Browser__button"></div>
        <div class="Browser__button"></div>
      </div>
      <div class="Browser__screen"></div>
    </div>
    <div class="Cover__header">
      <h1 class="Cover__title">Metodología y herramientas para el gobierno abierto</h1>
      <p class="Cover__description"><span class="Gobiertify">Gobierto</span> <span class="u--light">permite a las administraciones públicas y otras entidades poner en marcha iniciativas de transparencia y participación con eficacia y de forma económica.</span></p>
      <ul class="Cover__keys">
        <li class="Cover__key">
          <span class="Icon__tick--thick"></span> Integrable
        </li>
        <li class="Cover__key">
          <span class="Icon__tick--thick"></span> Modular</li>
        <li class="Cover__key">
          <span class="Icon__tick--thick"></span> Personalizable
        </li>
      </ul>
    </div>
  </div>
    <div id="banner"></div>
</div>
