<div class="Demo" id="demo">
  <div class="Demo__inner">
    <div class="Demo__content">
      <div class="Demo__title">Prueba Gobierto</div>
      <div class="Demo__description"><span class="u--light">Déjanos tu contacto y te prepararemos una demostración de </span><span class="Gobiertify">Gobierto</span> <span class="u--light">personalizada con los datos de organización o municipio.</span></div>
    </div>
    <div class="Demo__form">
      <div class="Demo__formFields">
					<form action="//gobierto.us11.list-manage.com/subscribe/post?u=18a37b792c8bbc7a921b4807c&amp;id=c5ae573572" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <input type="hidden" name="b_18a37b792c8bbc7a921b4807c_c5ae573572" tabindex="-1" value="">
						<input type="hidden" value="Profesional de Administración Local" name="MMERGE4" id="mce-MMERGE4-0">
        <div class="Input Demo__input">
          <input type="text" name="FNAME" class="Input__field" placeholder="Nombre" />
        </div>
        <div class="Input Demo__input">
          <input type="text" name="MUNICIPIO" class="Input__field" placeholder="Municipio/Organización" />
        </div>
        <div class="Input Demo__input">
          <input type="email" name="EMAIL" class="Input__field" placeholder="Correo electrónico" />
        </div>
        <div class="Input">
          <input type="text" name="MMERGE5" class="Input__field" placeholder="Número de teléfono" />
        </div>
      </div>
      <button type="submit" class="Demo__CTA Button Button--red">Solicitar demostración personalizada</button>
    </form>
    </div>
  </div>
</div>


