<div class="GlobalFunctionalities">
  <div class="GlobalFunctionalities__inner">
    <div class="GlobalFunctionalities__header">
      <div class="GlobalFunctionalities__title">Funcionalidades transversales</div>
      <div class="GlobalFunctionalities__description">de <span class="Gobiertify">Gobierto</span></div>
    </div>
    <div class="GlobalFunctionalities__content">
      <div class="GlobalFunctionalities__item">
        <div class="GlobalFunctionalities__itemIcon GlobalFunctionalities__itemIcon--cog"></div>
        <div class="GlobalFunctionalities__itemTitle">
          Gobierto CRM
        </div>
        <div class="GlobalFunctionalities__itemDescription">
Alertas automáticas y mensajes segmentados
        </div>
      </div>
      <div class="GlobalFunctionalities__item">

        <div class="GlobalFunctionalities__itemIcon GlobalFunctionalities__itemIcon--calendar"></div>
        <div class="GlobalFunctionalities__itemTitle">
          CMS + Agendas + Documentos
        </div>
        <div class="GlobalFunctionalities__itemDescription">
Organiza tu contenido y comparte documentos
        </div>
      </div>
      <div class="GlobalFunctionalities__item">
        <div class="GlobalFunctionalities__itemIcon GlobalFunctionalities__itemIcon--bubbles"></div>
        <div class="GlobalFunctionalities__itemTitle">
          Multilenguaje
        </div>
        <div class="GlobalFunctionalities__itemDescription">
Elige y personaliza el lenguaje para el interfaz y para el contenido
        </div>
      </div>
    </div>
  </div>
</div>
