<div class="Methodology">
  <div class="Methodology__shadow"></div>
  <div class="Methodology__inner">
    <div class="Methodology__content">
      <div class="Methodology__title">Nuestra metodología</div>
      <div class="Methodology__description">Gobierto te ayuda a definir e implementar estrategias de gobierno abierto y comunicación en tiempos digitales. Creamos soluciones centradas en el usuario, con métodos ágiles de investigación, desarrollo y tecnologías abiertas.</div>
    </div>
    <div class="Methodology__diagram">
      <div class="Methodology__logo">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 597.3 446" style="enable-background:new 0 0 597.3 446;" xml:space="preserve">
          <style type="text/css"></style>

          <polyline class="st0" points="160.3,215.8 160.3,196 140.5,196 "/>
          <circle class="st0" cx="358.9" cy="107.3" r="12.4"/>
          <circle class="st1" cx="358.9" cy="107.3" r="8.7"/>
          <circle class="st0" cx="256.9" cy="182" r="12.4"/>
          <circle class="st1" cx="256.9" cy="182" r="8.7"/>
          <circle class="st0" cx="141.5" cy="238.1" r="12.4"/>
          <circle class="st1" cx="141.5" cy="238.1" r="8.7"/>
          <circle class="st0" cx="256.9" cy="285.8" r="12.4"/>
          <circle class="st1" cx="256.9" cy="285.8" r="8.7"/>
          <circle class="st0" cx="361.1" cy="358.1" r="12.4"/>
          <circle class="st1" cx="361.1" cy="358.1" r="8.7"/>
          <circle class="st0" cx="347.6" cy="232.9" r="12.4"/>
          <circle class="st1" cx="347.6" cy="232.9" r="8.7"/>
          <polyline class="st2" points="374.1,88.8 406.7,56.2 442.2,56.2 "/>
          <polyline class="st2" points="243,165.3 193.1,115.4 194,86.4 "/>
          <polyline class="st2" points="159.1,359.1 195,323.2 223.6,323.2 244.7,302.1 "/>
          <polyline class="st2" points="420.1,393.8 395,393.8 372.7,371.4 "/>
          <polyline class="st2" points="60,272.2 91.5,240.7 121,240.7 "/>
          <line class="st2" x1="366.1" y1="232.9" x2="396.8" y2="232.9"/>
          <text transform="matrix(1 0 0 1 425.0285 374.5952)" class="st3 st4 st5">COMUNICACIÓN</text>
          <text transform="matrix(1 0 0 1 425.0278 388.6371)" class="st6 st7 st8">• Plan de comunicación digital</text>
          <text transform="matrix(1 0 0 1 425.0278 398.8371)" class="st6 st7 st8">• Comunidades online y engagement</text>
          <text transform="matrix(1 0 0 1 425.0278 409.0371)" class="st6 st7 st8">• Comunicación clara</text>
          <text transform="matrix(1 0 0 1 425.0278 419.1371)" class="st6 st7 st8">• Email marketing y redes sociales</text>
          <text transform="matrix(1 0 0 1 446.0864 25.604)" class="st3 st4 st5">DISEÑO DE SERVICIOS Y </text>
          <text transform="matrix(1 0 0 1 446.0864 37.604)" class="st3 st4 st5">EXPERIENCIA DE USUARIO</text>
          <text transform="matrix(1 0 0 1 446.0867 51.646)" class="st6 st7 st8">• Diseño de producto y soluciones</text>
          <text transform="matrix(1 0 0 1 446.0867 61.846)" class="st6 st7 st8">• Cocreación </text>
          <text transform="matrix(1 0 0 1 446.0867 72.046)" class="st6 st7 st8">• Definición: Casos de uso, roles</text>
          <text transform="matrix(1 0 0 1 446.0867 82.146)" class="st6 st7 st8">• Arquitectura de la información</text>
          <text transform="matrix(1 0 0 1 446.0867 92.346)" class="st6 st7 st8">• Diseño de interacción y visual</text>
          <text transform="matrix(1 0 0 1 401.2651 214.7169)" class="st3 st4 st5">TECNOLOGÍA</text>
          <text transform="matrix(1 0 0 1 401.2658 227.758)" class="st6 st7 st8">• Implementación de Gobierto</text>
          <text transform="matrix(1 0 0 1 401.2658 237.958)" class="st6 st7 st8">• Desarrollo aplicaciones web y móvil</text>
          <text transform="matrix(1 0 0 1 401.2658 248.158)" class="st6 st7 st8">• Integraciones y APIs</text>
          <text transform="matrix(1 0 0 1 401.2658 258.258)" class="st6 st7 st8">• Metodologías ágiles</text>
          <text transform="matrix(1 0 0 1 135.4098 26.6369)" class="st3 st4 st5">INVESTIGACIÓN</text>
          <text transform="matrix(1 0 0 1 135.4091 39.6779)" class="st6 st7 st8">• Análisis de situación: métricas,   </text>
          <text transform="matrix(1 0 0 1 135.4091 49.8779)" class="st6 st7 st8">  contenido, diseño, usabilidad</text>
          <text transform="matrix(1 0 0 1 135.4091 60.0779)" class="st6 st7 st8">• Focus groups, encuestas</text>
          <text transform="matrix(1 0 0 1 135.4091 70.1779)" class="st6 st7 st8">• Diseño de personas</text>
          <text transform="matrix(1 0 0 1 135.4091 80.3779)" class="st6 st7 st8">• Citizen Journey Maps</text>
          <text transform="matrix(1 0 0 1 108.1817 370.3895)" class="st3 st4 st5">PUESTA EN MARCHA</text>
          <text transform="matrix(1 0 0 1 108.1817 382.3895)" class="st3 st4 st5">Y EVOLUCIÓN</text>
          <text transform="matrix(1 0 0 1 108.182 395.4306)" class="st6 st7 st8">• Plan de lanzamiento</text>
          <text transform="matrix(1 0 0 1 108.182 405.6306)" class="st6 st7 st8">• Gestión de contenido</text>
          <text transform="matrix(1 0 0 1 108.182 415.8306)" class="st6 st7 st8">• Mantenimiento correctivo   </text>
          <text transform="matrix(1 0 0 1 108.182 425.9306)" class="st6 st7 st8">   y evolutivo</text>
          <text transform="matrix(1 0 0 1 11.3864 309.1131)" class="st6 st7 st8">• Cuadros de mando</text>
          <text transform="matrix(1 0 0 1 11.3864 319.3131)" class="st6 st7 st8">• Análisis de datos</text>
          <text transform="matrix(1 0 0 1 11.3864 329.5131)" class="st6 st7 st8">• Analítica y monitorización</text>
          <text transform="matrix(1 0 0 1 11.386 284.5345)" class="st3 st4 st5">MONITORIZACIÓN</text>
          <text transform="matrix(1 0 0 1 11.386 296.5345)" class="st3 st4 st5">Y DIAGNÓSTICO</text>
          <path class="st0" d="M142.2,225.8c2.2-12,8.8-22.4,18.1-29.6"/>
          <path class="st0" d="M244.7,283.3h-53.9c-21.3,0-40.1-13.9-46.8-33.1"/>
          <path class="st0" d="M351,365.3c-21.4,6.9-45.3-1.8-57-22l-28.2-48.9"/>
          <path class="st0" d="M349.7,245.1l28.2,48.8c10.9,19,8.1,42.6-6,58.1"/>
          <path class="st0" d="M369.1,114.4c16.5,15.1,20.9,40.1,9.2,60.2l-26.9,46.5"/>
          <path class="st0" d="M346.9,102.7c0.2,0,0.3,0.1,0.5,0.1"/>
          <path class="st0" d="M266.3,173.9l27.7-48c10.9-18.9,32.6-27.8,52.9-23.2"/>
          <path class="st0" d="M171,189.7c5.9-2.5,12.4-3.9,19.2-3.9h54.9"/>
        </svg>

      </div>
    </div>
  </div>
</div>
