<div class="Modules">
  <div class="Modules__inner">
    <ul>
      {% include v2/module.html module=site.data.modules.presupuestos %}
      {% include v2/module.html module=site.data.modules.observatorio-estadistico %}
      {% include v2/module.html module=site.data.modules.participacion %}
      {% include v2/module.html module=site.data.modules.altos-cargos-y-agendas %}
      {% include v2/module.html module=site.data.modules.planificacion %}
      {% include v2/module.html module=site.data.modules.datos-abiertos %}
    </ul>
  </div>
</div>
