<li class="Module__listItem js-module-cover">
  <div class="Module__preview">
    <a href="/modulos/{{ include.module.url }}" class="Browser Browser--medium Module__browser Browser--{{ include.module.url }}">
      <div class="Browser__header">
        <div class="Browser__button"></div>
        <div class="Browser__button"></div>
        <div class="Browser__button"></div>
      </div>
      <div class="Browser__screen"></div>
    </a>
  </div>
  <div class="Module__content">
    <div class="Module__title">{{ include.module.title }}</div>
    <div class="Module__description">{{ include.module.description }}</div>
    <ul class="Module__features">
      <li class="Module__feature">
        <span class="Icon__tick"></span>
        <div class="Module__featureDescription">{{ include.module.key0}}</div>
        </li><li class="Module__feature">
        <span class="Icon__tick"></span>
        <div class="Module__featureDescription">{{ include.module.key1}}</div>
        </li><li class="Module__feature">
        <span class="Icon__tick"></span>
        <div class="Module__featureDescription">{{ include.module.key2}}</div>
      </li>
    </ul>
    <a href="/modulos/{{include.module.url}}" class="Module__CTA Button Button--square Button--green">{{ include.module.title }}</a>
  </div>
</li>
