<div class="Users">
  <div class="Users__inner">
    <div class="Users__title">Para quién</div>
    <div class="Users__content">
      <div class="Users__description"></div>
      <div class="Users__kinds">
        <div class="Users__groups">
          {% for group in include.users %}
          <div class="Users__group">
            <div class="Users__groupsTitle">{{ group.title }}</div>
            {% if group.users %}
            <ul class="Users__groupsExamples">
              {% for user in group.users -%}
              <li class="Users__groupsExample">{{ user }}</li>
              {% endfor -%}
            </ul>
            {% endif -%}
          </div>
          {% endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
