

.Button {
  @include sans-serif(12px, 700, $cWhite);
  background: #12365B;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 12px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  transition: background $transitionSlow ease-in-out, box-shadow $transitionSlow ease-in-out;
}
.Button:focus {
  outline: none;
}
.Button:active {
  background: #d05144;
  outline: none;
}
.Button:hover {
  box-shadow: 3px 3px 4px rgba(0,0,0, 0.2);
}
.Button--square {
  border-radius: 4px;
}
.Button--green {
  background: $cGreen;
}
.Button--green:hover {
  //background: #006973;
}
.Button--red {
  background: $cRed;
}
.Button--red:hover {
  //background: #d05144;
}
