.Features {
  padding: 120px 0;
  background: $cWhite;
}
.Features__inner {
  width: $innerSize;
  margin: auto;
}
.Features__keys {
  display: flex;
  margin: 94px 0 0 0;
  justify-content: space-around;
}
.Feature__key {
  text-align: center;
  width: 246px;
}
.Features__keyDescription {
  @include sans-serif(18px, 400, #333);
  line-height: 120%;
}
.Features__keyIcon {
  width: 112px;
  height: 112px;
  border-radius: 100%;
  margin: 0 auto 24px auto;
  border: 4px solid $cBlue;
}
.Feature__key:nth-child(1) > .Features__keyIcon {
  border-color: $cRed;
}
.Feature__key:nth-child(2) > .Features__keyIcon {
  border-color: $cYellow;
}
.Feature__key:nth-child(3) > .Features__keyIcon {
  border-color: $cGreen;
}

.Features__title {
  @include sans-serif(42px, 700, $cBlue);
  line-height: 120%;
}
.Features__description {
  @include sans-serif(36px, 700, $cYellow);
  line-height: 120%;
}

@media (max-width: $cMediaStretched) {
  .Features__inner {
    width: 90%;
  }
}

@media (max-width: $cMediaMobile) and (orientation: portrait) {
  .Features {
    padding: 60px 0;
  }
  .Features__keys {
    flex-direction: column;

    > :nth-child(even) {
      margin: 12px 0;
    }

    .Feature__key {
      width: 100%;
    }
  }
  .Features__title {
    font-size: 36px;
  }
  .Features__description {
    font-size: 32px;
  }
}
