.Footer {
  border-top: 1px solid $cGreen;
}
.Footer__inner {
  background: $cGreen;
}
.Footer__content {
  display: flex;
  justify-content: space-between;
}
.Footer__logos {
  display: flex;
  flex: 1;
  padding: 64px 0;
  background: $cWhite;
  align-items: center;
  flex-direction: column;

  @media all and (max-width : $cMediaMobile) {
    display: block;
    text-align: center;
  }
}
.Footer__logo {
  margin: auto;
}
.Footer__navigation {
  display: flex;
  padding: 80px 0;
  flex: 3;
  background: $cGreen;
  justify-content: space-around;

  @media all and (max-width : $cMediaMobile) {
    display: block;
  }
}
.Footer__link {
  @include sans-serif(18px, 400, $cWhite);
  text-decoration: none;
  opacity: 0.7;
  transition: opacity $transitionRegular ease-in-out;
}
.Footer__link.is-active {
  font-weight: 700;
}
.Footer__link:hover {
  opacity: 1;
}
.Footer__area {
  margin: 0;

  @media all and (max-width : $cMediaMobile) {
    margin: 0 1em;
  }
}
.Footer__areaTitle {
  @include sans-serif(18px, 700, $cWhite);
  text-transform: uppercase;
  margin: 0 0 10px;
}
.Footer__section {
  margin: 0 0 8px;
}

@media (max-width: $cMediaTablet) {
  .Footer__content {
    margin: 0;
    width: auto;
    flex-direction: column-reverse;
  }
  .Footer__inner {
    width: auto;
  }
  .Footer__navigation {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .Footer__area {
    margin: 0 0 32px;
  }
  .Logo__creator {
    margin: 32px 0 0;
  }
}

@media (max-width: $cMediaMobile) and (orientation: portrait) {
  .Footer__navigation {
    padding: 40px 0;
  }
}
