.Header {
  background: $cWhite;
  padding: 32px 0 24px;
  border-bottom: 1px solid $cSubtleGray;

  @media all and (max-width : $cMediaMobile) {
    padding: 14px 0 10px;
  }
}
.Header__logo {
  @media all and (max-width : $cMediaMobile) {
    padding: 0;
    .Logo {
      width: 150px;
      height: 34px;
    }
  }
}
.Header__CTA {
  min-width: 136px;
  display: block;

  @media all and (max-width : $cMediaMobile) {
    display: none;
  }
}
.Header__inner {
  display: flex;
  margin: auto;
  width: $innerSize;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;

  @media all and (max-width : $cMediaMobile) {
    width: auto;
    text-align: left;
  }
}
.Header__options {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;

  @media all and (max-width : $cMediaMobile) {
    display: block;
    text-align: center;
  }
}
.Header__option {
  padding: 5px 0;
  position: relative;
}
.Header__link {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  @include sans-serif(18px, 400, #9B9B9B);
  text-decoration: none;
  margin: 0 5px;
  transition: color $transitionSlow ease-in-out;
}
.Header__link--nopadding {
  padding: 0;
}
.Header__link.is-active {
  font-weight: 700;
}
.Header__link.is-active:hover {
}
.Header__link:hover {
  color: $cDarkGray;
}
.Header__Button {
  min-width: 136px;
  display: block;
  box-sizing: border-box;
}

#banner {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

#banner canvas {
  margin: auto;
}

@media (max-width: $cMediaStretched) {
  .Header__inner {
    width: 90%;
  }

  .Header__options {
    display: flex;
    width: 100%;
    margin: 0 32px;
  }
}

@media (max-width: $cMediaTablet) {
  .Header__inner {
    width: 90%;
  }
  .Header__CTA {
    display: none;
  }
  .Header__inner {
    width: 90%;
  }
  .Header__options,
  .Menu__global {
    display: none;
  }
}



.is-sticky {
  position: sticky;
  top: -1px;
  z-index: 1000;
}

.Menu__global {
  background: $cCyan;
  text-align: center;

  .menu_column {
    max-width: $innerSize;
    display: flex;
    justify-content: space-evenly;
  }

  a {
    font-size: .85em;
    color: #FFF;
    display: inline-block;
    padding: 1em 1.5em;
    text-decoration: none;
    transition: background $transitionRegular ease-in-out, padding $transitionRegular ease-in-out;

    @media (max-width: 1250px) {
      padding: 1em .5em;
    }
    @media (max-width: 860px) {
      font-size: .75em;
    }

  }
  span.text {
    transition: color $transitionRegular ease-in-out;
  }
  a:hover {
    // transform: scale(1.05);
    background: $cCyanDark;
    span.text {
      // color: $cBlue;
      // text-decoration: none;
    }
  }
  a.is-active {
    background: $cCyanDark;
  }
  .fas {
    margin-right: .35em;
    opacity: .6;
  }
  a:last-child {
    margin-right: 0;
  }
  .menu-logo {
    display: none;
    transition: all $transitionRegular ease-in-out;
  }
}
.Menu__global.is-sticky {
  padding-left: 120px;
  a {
    padding-top: .5em;
    padding-bottom: .5em;
  }
  .menu-logo {
    display: inline-block;
    left: 0;
    position: absolute;
  }
}
.Menu__slide {
  transition: transform $transitionSlow ease-in-out;
  transform: translate(-140vh, 0);
  position: fixed;

  a {
    font-size: .85em;
    color: #FFF;
    display: inline-block;
    padding: 1em 1.5em;
    text-decoration: none;
    // transition: transform 0.15s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background $transitionRegular ease-in-out, padding $transitionRegular ease-in-out;
  }

}
.Menu__slide.is-open {
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  background: $cBlue;

  .js-hamburger-desktop-close {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 10000;
  }
}
.Menu__slide--inner {
  padding: 1em;
  display: flex;
  height: 100%;
  width: 75%;
  flex-direction: column;
  margin: auto;
  display: none;

  p.main {
    font-size: 36px;
    line-height: 120%;
    margin: 0 0 2em 0;
  }
  p.secondary {
    font-size: 24px;
  }
}
