.ModuleCover {
  position: relative;
  overflow: hidden;
  padding: 100px 0;
  background: $cBlue;
}
.ModuleCover__inner {
  position: relative;
  width: $innerSize;
  margin: auto;
}

.ModuleCover__top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 120px;
}

.ModuleCover__header {
  width: 400px;
}

.ModuleCover__title {
  @include sans-serif(48px, 700, $cWhite);
  text-transform: uppercase;
  line-height: 120%;
  margin: 0 0 4px;
}
.ModuleCover__description {
  @include sans-serif(18px, 400, $cWhite);
  line-height: 135%;
  margin: 0 0 32px;
  opacity: .7;
}

.ModuleCover__keys {
  position: relative;
  display: flex;
  justify-content: space-around;
  z-index: 10;
}

.ModuleCover__key {
  width: 300px;
  @include sans-serif(18px, 400, $cWhite);
}

.ModuleCover__key:first-child::before {
  background: $cRed;
}
.ModuleCover__key:last-child::before {
  background: $cGreen;
}
.ModuleCover__key::before {
  position: absolute;
  margin-top: -12px;
  content: '';
  width: 60px;
  height: 3px;
  background: $cYellow;
}
.ModuleCover__browserContainer {
  position: relative;
}
.Module__shadow {
  background: url(asset_path('module-shadow')) no-repeat 0 0;
  top: 0px;
  left: 20px;
  position: absolute;
  background-size: cover;
	width: 1199px;
	height: 952px;
	z-index: 1;
}

.ModuleCover__browser {
  z-index: 10;
}

@media (max-width: $cMediaStretched) {
  .ModuleCover__inner {
    width: 90%;
  }
  .ModuleCover__top {
    justify-content: space-between;
  }
  .ModuleCover__browser,
  .ModuleCover__header {
    width: calc(50% - (25px / 2));
  }
  .Module__shadow {
    left: 0;
  }
}

@media (max-width: $cMediaTablet) {
  .ModuleCover__top {
    flex-direction: column;
  }
  .ModuleCover__top :first-child {
    margin: 0 0 (25px / 2);
  }
  .ModuleCover__top :last-child {
    margin: (25px / 2) 0 0 0;
  }
  .ModuleCover__browser,
  .ModuleCover__header {
    width: 100%;
  }
}

@media (max-width: $cMediaMobile) and (orientation: portrait) {
  .ModuleCover {
    padding: 50px 0;
  }
  .ModuleCover__keys {
    flex-direction: column;
  }
  .ModuleCover__keys > :nth-child(even) {
    margin: 24px 0;
  }
  .ModuleCover__keys .ModuleCover__key {
    width: 100%;
  }
  .ModuleCover__title {
    font-size: 36px;
  }
}

.ModuleCover__Video {
  position: relative;
  background: $cWhite;
  width: 634px;
  overflow:hidden;
}
@media (max-width: $cMediaMobile) and (orientation: portrait) {
  .ModuleCover__Video {
    width: 100%;
  }
}
