<div class="themes">
  <div class="column_c">

    <p class="headed">En el blog hablamos de...</p>

    <div class="pure-g themes_list">
      <div class="pure-u-1-3">
        <!-- <a href="/temas/analitica/">Analítica</a> -->
        <a href="/temas/diseno_de_servicios/">Diseño de servicios</a>
        <a href="/temas/estrategia/">Estrategia</a>
        <a href="/temas/experiencia_de_usuario/">Experiencia de Usuario</a>
        <a href="/temas/investigacion/">Investigación</a>
        <a href="/temas/tecnologia/">Tecnología</a>
      </div>
      <div class="pure-u-1-3">
        <a href="/temas/gobierno_abierto/">Gobierno abierto</a>
        <a href="/temas/transparencia/">Transparencia</a>
        <a href="/temas/participacion/">Participación</a>
        <a href="/temas/comunicacion_clara/">Comunicación clara</a>
        <a href="/temas/visualizacion_de_datos/">Visualización de datos</a>
      </div>
      <div class="pure-u-1-3">
        <a href="/temas/clientes/">Clientes</a>
        <a href="/temas/gobierto/">Gobierto</a>
      </div>
    </div>

    <p class="last right">
      Último post:
      {% for post in site.posts limit:1 %}
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  		{% endfor %}
    </p>

  </div>

</div>
