{% include v1/modals.html %}

<footer>

  {% include v1/blog_themes.html %}

	<div class="big_banner_block demo" id="demo">
		<div class="column_c">

			<i class="icon_heading icon-computer-macintosh-vintage"></i>

			<div class="pure-g">
				<div class="pure-u-1 pure-u-md-1-2">

					<h3 class="h_line">Demo</h3>

					<h2>Demo personalizada con los datos de tu municipio</h2>
					<p class="subtitle">Déjanos tu contacto y te preparamos una demo  de Gobierto personalizada con los datos de municipio</p>

				</div>
				<div class="pure-u-1 pure-u-md-1-2">

					<!-- <form>
						<input type="text" name="name" placeholder="Nombre">
						<input type="email" name="name" placeholder="Correo-e">
						<input type="text" name="place" placeholder="Municipio/Organización">
						<input type="text" name="phone" placeholder="Teléfono">
						<button type="submit" class="button">Solicitar demo</button>
					</form> -->

					<!-- Begin MailChimp Signup Form -->
					<form action="//gobierto.us11.list-manage.com/subscribe/post?u=18a37b792c8bbc7a921b4807c&amp;id=c5ae573572" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mixpanel_demo" target="_blank" novalidate>
						<div class="missing_fields"><p>Parece que falta algo por rellenar!</p></div>
						<input type="text" value="" name="FNAME" class="required" id="mce-FNAME" placeholder="Nombre">
						<input type="email" value="" name="EMAIL" class="required" id="mce-EMAIL" placeholder="Correo-e">
						<input type="text" value="" name="MUNICIPIO" class="required" id="mce-MUNICIPIO" placeholder="Municipio/Organización">
						<input type="hidden" value="Profesional de Administración Local" name="MMERGE4" id="mce-MMERGE4-0">
						<input type="text" name="MMERGE5" class="required" value="" id="mce-MMERGE5" placeholder="Teléfono">
						<input type="hidden" name="b_18a37b792c8bbc7a921b4807c_c5ae573572" tabindex="-1" value="">
					  <!-- <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"> -->
					  <button type="submit" class="submit button" name="subscribe">Solicitar demo</button>

					</form>
					<!--End mc_embed_signup-->


				</div>

			</div>
		</div>
	</div>

	<div class="big_banner_block blog" style="display: none;">

		{% for post in site.posts limit:1 %}

	    <a href="{{ post.url | prepend: site.baseurl }}">
	    	{% if post.main_photo_big %}
	        {% if post.main_photo_big contains '://' %}
			      <img src="{{ post.main_photo_big }}" class="heading" itemprop="img heading" title="{% if post.main_photo_caption %}{{ post.main_photo_caption }}{% endif %}">
			    {% else %}
			      {% asset 'v1/{{ post.main_photo_big }}' class:'heading' itemprop:'img heading' title:'{{ post.main_photo_caption }}' %}
			    {% endif %}
			  {% endif %}
	    </a>
	    <div class="bg"></div>
	    <div class="content column_c">
	    	<h3 class="h_line">En nuestro blog</h3>
		    <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
		   </div>

		  {% unless post.featured == true and page.url == '/' %}
		  {% endunless %}

		{% endfor %}

	</div>

	<div class="big_banner_block">
		<div class="column_c">
			<h3>Nuevos posts en tu buzón</h3>
			<form class="blog_subscribe">
				<div class="fields">
					<input type="email" placeholder="tu correo-e" name="email" class="email required">
					<button type="submit" class="button">Suscribirme</button>
					<span class="disclaimer">Aprox 1 post a la semana, desapuntate cuando quieras, no spam</span>
					<div class="missing_fields"><p>Parece que falta algo por rellenar!</p></div>
				</div>
				<div class="notice success">
					Genial, ya estás suscrito.
				</div>
			</form>
		</div>
	</div>

	<div class="links column_c">

		<div class="pure-g">

			<a href="/" title="Gobierto">{% asset 'v1/logo_gobierto' class:'logo_gobierto' %}</a>

			<menu>

				<div class="pure-u-1 pure-u-md-1-4">
					<ul>
						<li><a href="/">Inicio</a></li>
						<li><a href="/acerca-de/">Quiénes somos</a></li>
						<li><a href="/blog/">Blog</a></li>
						<li><a href="#demo">Demo</a></li>
						<li><a href="/acerca-de/#contacto">Contacto</a></li>
					</ul>
				</div>

				<div class="pure-u-1 pure-u-md-1-4">
					<h4><strong>Presupuestos</strong></h4>
					<ul>
		        <li><a href="/{{ site.url_producto_presupuestos_visualizacion }}">Visualización</a></li>
		        <li><a href="/{{ site.url_producto_presupuestos_consultas }}">Consultas</a></li>
		        <li>Historias</li>
		        <li>Inteligencia</li>
		      </ul>

				</div>

				<div class="pure-u-1 pure-u-md-1-4">

				</div>

				<div class="pure-u-1 pure-u-md-1-4 right">
					<p>Gobierto es <a href="/open-source">open source</a></p>
					<div class="logo_populate">
						<p>Un producto de</p>
    				<a href="http://populate.tools" target="_blank" title="Tools for civic engagement">{% asset 'v1/logo_populate' %}</a>
    			</div>
				</div>

			</menu>

		</div>

	</div>

</footer>
