<header class="pure-g project">

  <div class="pure-u-1 ">
    <!-- <div class="bg"></div> -->
    <div class="cont clearfix ">

      <a class="responsive menu_icon open_mobile_menu" href="#mobile_menu" data-track-event="Mobile|Open Menu">
        <i class="fa fa-bars"></i>
      </a>

      <a class="site-title" href="{{ site.baseurl }}/" title="{{ site.title }}">{% asset 'v1/logo_gobierto' class:'logo' %}</a>

      <span class="project_title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></span>

      <menu>
        <a href="/acerca-de/">Quiénes somos</a>
        <a href="/blog/">Blog</a>
        <!-- <a href="/{{ site.url_producto_presupuestos_visualizacion | prepend: site.baseurl }}">Producto</a>  -->
        <a href="/{{ site.url_producto_presupuestos_visualizacion }}">Visualización Presupuestos</a>
        <a href="/{{ site.url_producto_presupuestos_consultas }}">Consultas</a>
        <a href="/temas/clientes">Clientes</a>
        <a href="#demo">Demo</a>
        <!-- <div class="language_switcher">
          <a href="">ES</a>
          <a href="">EN</a>
        </div> -->
      </menu>

      <div class="header_tools tools" data-share>

        <span class="social_links">
          {% include v1/social_links.html %}
        </span>

        <a class="responsive menu_icon open_mobile_menu" href="#mobile_menu" data-track-event="Mobile|Open Menu">
          <i class="fa fa-bars"></i>
        </a>

      </div>

    </div>
  </div>

</header>

<header class="mobile_menu modal mfp-hide" id="mobile_menu">

  <header>
    <a class="site-title" href="{{ site.baseurl }}/" title="{{ site.title }}">{% asset 'v1/logo_gobierto' class:'logo' %}</a>
  </header>

  <menu>
    <a href="/acerca-de/">Quiénes somos</a>
    <a href="/blog/">Blog</a>
    <!--<a href="">Producto</a>-->
    <!--<a href="">Clientes</a>-->
    <a href="#demo">Demo</a>
    <!-- <div class="language_switcher" >
      <a href="">ES</a>
      <a href="">EN</a>
    </div> -->
  </menu>

  <menu class="side">
  </menu>

</header>

<menu class="on_logo_hover">

  <header style="display: none">
    <a class="site-title" href="{{ site.baseurl }}/" title="{{ site.title }}">{% asset 'v1/logo_gobierto' class:'logo' %}</a>
  </header>

  <h3>{{ site.title }} Reading List</h3>

  <menu>
    <a href="">Quiénes somos</a>
    <a href="">Blog</a>
    <a href="">Producto</a>
    <a href="">Clientes</a>
    <a href="">Demo</a>
  </menu>

  {% include v1/articles_latest.html %}

</menu>

<div class="responsive social_links_container start_hidden" data-share>
  {% include v1/social_links.html %}
</div>
